{% extends 'base.html' %}

{% block body %}
<div class="container py-5">
  <h1 class="text-center"> · To-do List · </h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
          <th scope="col" class="text-center">No.</th>
          <th scope="col" class="text-center">what to do</th>
          <th scope="col" class="text-center">due to</th>
          <th scope="col" class="text-center">edit/delete</th>
      </tr>
    <tbody>
      {% for todo in todos %}
      <tr>
        <th scope="row" class="text-center">{{ todo.id }}</th>
        <td class="text-center">{{ todo.title }}</td>
        <td class="text-center">{{ todo.due_date }}</td>
        <td class="text-center"><button type="button" class="btn btn-dark"><a class="text-light" href="{% url 'todos:update' todo.id %}">수정</a></button> 
          <button type="button" class="btn btn-danger"><a class="text-light" href="{% url 'todos:delete' todo.id %}">삭제</a></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}