{% extends 'base.html' %}

{% block body %}
<div class="container py-3">
  <div class="my-3rem">
    <h3 style="text-align: center">밥 잘 먹고 살자</h3>
    <p style="text-align: center">web과 algorithm 하고 나서 밥 먹으러 가자</p>
  </div>

  <div class="container row">
    <div class="card col-6" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">정윤영</h5>
            <p class="card-text">전공 : 미디어</p>
            <p class="card-text">취미 : 바이올린</p>
            <p class="card-text">파트 : 프론트 엔드</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-6" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">오재석</h5>
            <p class="card-text">전공 : 수학</p>
            <p class="card-text">취미 : 수도쿠</p>
            <p class="card-text">파트 : 백 엔드</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}